* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

header {
  background: #030007;
  margin: 0px 0px 0px -8px;
  color: #ffffff;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

h2 {
  margin-top: 20px;
}

.question-card {
  margin-top: 90px;
  margin-bottom: 90px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.div_question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card_categories {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.question-card_categories_list {
  margin: 0 8px;
  border: 1px solid black;
  border-radius: 6px;
  position: relative;
  bottom: -40px;
  left: -20px;
}

.wine-bottle {
  fill: blueviolet;
  position: absolute;
  top: -25px;
  right: -15px;
}

footer {
  background: #030007;
  margin: 0px 0px 0px -8px;
  color: #ffffff;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

ul {
  list-style-type: none;
}

.nav {
  list-style-type: none;
  padding: 10px 10px;
  color: #f6f5f8;
  display: flex;
  justify-content: space-evenly;
}

.nav_link {
  text-decoration: none;
  color: #ffffff;
}

.nav_link:hover {
  color: grey;
}

.nav_link:active {
  color: pink;
}

.nav_link:visited {
  color: #ffffff;
}

.max_dow {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
