.nav__list {
  list-style-type: none;
  padding: 10px 10px;
  color: #f6f5f8;
  display: flex;
  justify-content: space-evenly;
}

.nav__list-item {
  text-decoration: none;
  color: var(--tertiary-color);
}

.nav__list-item:hover {
  color: grey;
}

.nnav__list-item:active {
  color: pink;
}

.nav__list-item:visited {
  color: #ffffff;
}
