.user--pic {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;
  align-items: center;
  width: 100%;
}

.user--pic__Icon {
  width: 100%;
  max-width: 100px;
}

.user--name {
  grid-column: 2;
}

.counter,
.bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
}

.about--icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 55%;
  gap: 1rem;
}

.about {
  text-align: justify;
}

.settings--profile {
}

.settings--profile--block {
}
