.user__profile {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;
  align-items: center;
  width: 100%;
}

.user__profile--picIcon {
  width: 100%;
  max-width: 50vw;
}

.user--name {
  grid-column: 2;
}

.counter,
.bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.about--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.about {
}

.settings--profile {
}

.settings--profile--block {
}
