.max_dow {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 4;
}

.counter {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  width: 30%;
}

.bookmarks {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 30%;
}

.about--icon {
  width: 4%;
}
